/**
* Layout Defaults
**/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}


/**************************
* SECTIONS & ARTICLES
***************************/

.content-wrap {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
  }

.section--mainbanner {
    background-image: url("../img/bg-paper.jpg") ;
    background-repeat: repeat;
    text-align: center;
    padding: 5%;
    margin: 0;
}

.section {
    background-color: var(--color-light-brown);
    margin: 0px;
    padding: 25px;
}

.section--header {
  text-align: center;
}
.section--sewingneeds {
    text-align: left;
}

.section--sewingcards {
    background-color: var(--color-light-brown);
    padding: 0;
}


.card {
    margin: 0 auto 0.4rem auto;
}

.map {
    border: 1px solid var(--color-black);
}

.card-upcoming {
  text-align: center;
}

/**************************
* TYPOGRAPHY
***************************/

html {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #f5a623;
  --color-red: #d0021b;
  --color-light-brown: #fffbf5;
  --font-serif: "Roboto Slab", serif;
  --font-sans: Nunito, sans-serif;
}

h1 {
    font-family: var(--font-serif);
}

.header--title {
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1em;
    margin: 0;
}

.card__title {
    font-family: var(--font-serif);
    font-weight: lighter;
    color: var(--color-black);
}

h2 {
    font-family: var(--font-serif);
    font-size: 2.5rem;
    margin: 0;
}

.mainbannertext {
    font-size: 3.5em;
    line-height: 4rem;
    padding: 0 10%;
}

h3 {
  font-family: var(--font-serif);
  line-height: 1.1;
  margin-bottom: 1em;
}

.h3--footer {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid grey ;
  }

a {
  color: var(--color-red);
  text-decoration: none;
}

body {
    font-family: var(--font-sans);
    line-height: 1.5;
  }


.mainbannerbody {
    font-size: 1.25em;
    padding: 2rem;
    margin: 0;
}

div.upcomingeventsbody {
    background-color: red;
    text-align: center;
}

.footer--header {
    font-family: var(--font-sans);
    color: var(--color-orange);
    font-weight: bold;
}

.footer--list {
    padding: 0;
    list-style: none;
  }


.copyright {
  color: grey;
  border-top: 1px solid grey ;
}

/**************************
* HEADER & FOOTER
***************************/

header, footer {
    background: var(--color-black);
    color: var(--color-white);
    min-height: 50px;
    width: 100%;
    margin: 0;
  }

  footer {
    padding: 10px;
  }



/**************************
* BUTTONS
***************************/

.button {
  display: inline-block;
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.9em 1em;
  border-radius: 0.5rem;
  text-decoration: none;
}

.button--outlined {
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.button--primary {
  background: var(--color-orange);
  color: var(--color-black);
}







/**************************
CARDS
***************************/

.card {
    border: 5px double var(--color-black);
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    max-width: 30rem;
}

.card__list {
    padding: 0;
    list-style: none;
  }

.card__title {
  font-size: 1.5rem;
}
